
{% extends "base.html" %}

{% block title %} Features{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/features.css">

<section id="features">
    <h2>Our Features</h2>
    <div class="features-container">
        <div class="feature">
            <img src="/static/images/feature_img/wifi.jpeg" alt="Free Wi-Fi">
            <h3>Free Wi-Fi</h3>
            <p>Enjoy free high-speed internet access.
                "Stay connected while you savor! Enjoy complimentary WiFi throughout our restaurant, perfect for remote work, social media updates, or streaming your favorite shows."

            </p>
        </div>
        <div class="feature">
            <img src="/static/images/feature_img/staff.jpeg" alt="Good Staff">
            <h3>Good Staff</h3>
            <p>Our staff is friendly and attentive."Our friendly and attentive staff are dedicated to ensuring your dining experience is exceptional. From taking orders to serving with a smile, we strive to make you feel at home."
            </p>
        </div>
        <div class="feature">
            <img src="/static/images/feature_img/hygiene.jpeg" alt="Hygiene">
            <h3>Hygiene</h3>
            <p>We maintain the highest standards of cleanliness.
                "We take cleanliness seriously! Our restaurant maintains the highest standards of hygiene, ensuring a safe and healthy environment for all our guests. Enjoy your meal with peace of mind."
            </p>
        </div>
        <div class="feature">
            <img src="/static/images/feature_img/livemusic.jpeg"
                alt="Live Music">
            <h3>Live Music  </h3>
            <p>Enjoy live performances by local artists."Immerse yourself in the soulful sounds of live music performed by local artists at our venue. Our stage hosts a variety of genres, ensuring there's always something to delight your ears. Come relax, unwind, and enjoy a night of fantastic music and great company." </p>
        </div>

        <div class="feature">
            <img src="/static/images/feature_img/kidsplayarea.jpeg"
                alt="Kids' Play Area">
            <h3>Kids' Play Area</h3>
            <p>A safe and fun play area children.
                Bring the whole family! Our kids' play area is designed for fun
                and safety, with engaging toys and activities to keep your
                little ones entertained while you enjoy your meal."
            </p>
        </div>

        <div class="feature">
            <img src="/static/images/feature_img/privatedining.jpeg"
                alt="Private Dining">
            <h3>Private Dining</h3>
            <p>Private dining rooms available for special occasions.
                "Looking for a more intimate experience? Our private dining area offers a secluded space for special occasions, business meetings, or romantic evenings. Let us tailor a menu to suit your needs."

            </p>
        </div>

    </div>
</section>
{% endblock %}